<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RestBase - Rest API + DataBase</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">RestBase 관리 - DataBase 관리</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation">
              
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">메뉴</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/admin/dashboard?auth=<%= auth %>">대시보드</a>
            <a class="mdl-navigation__link" href="/admin/dbSetting?auth=<%= auth %>">DataBase 관리</a>
            <a class="mdl-navigation__link" href="/admin/serverSetting?auth=<%= auth %>">Rest서버 관리</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="page-content" id="render">
            <div class="container">
                <button type="button" class="btn btn-success" style="margin-top: 20px" onclick="add()">DB추가</button>
              <%
                let counter = 0
                dbs.forEach((v, i) => { %>
                <div class="card" style="margin-top:5px">
                  <div class="card-body">
                    <h4 class="card-title"><%= './DB/' + v %></h4>
                    <p class="card-text">
                      <div class="btn-group-toggle" data-toggle="buttons">                      
                        <button type="button" class="btn btn-primary viewbtn" onclick="window.open('/<%= v.replace('.json', '') %>')">보기</button>
                        <button type="button" class="btn btn-info editbtn" onclick="alert('에디터는 아직 개발중인 기능입니다')">수정</button>
                        <button type="button" class="btn btn-danger delbtn" onclick="del('<%= v.replace('.json', '') %>')">삭제</button>
                      </div>
                    </p>
                </div>
              <% }) %>
            </div>
          </div>
        </main>
      </div>
      <script>
          setInterval(() => {
          for (let n = 0; n < document.getElementsByClassName('openLab').length; n++) {
            if (document.getElementsByClassName('openLab')[n].classList.contains('active')) {
              document.getElementsByClassName('openLab')[n].innerHTML = '공개'
              document.getElementsByClassName('openLab')[n].classList.replace('btn-success', 'btn-secondary')
            } else {
              document.getElementsByClassName('openLab')[n].innerHTML = '비공개'
              document.getElementsByClassName('openLab')[n].classList.replace('btn-secondary', 'btn-success')
            }
          }
        }, 1)

        function del (key) {
          var xhr = new XMLHttpRequest()
          var target = '/admin/delete?auth=<%= auth %>&key=' + key
          xhr.open('GET', target)
          xhr.send()

          xhr.onreadystatechange = () => {
            if (xhr.readyState === XMLHttpRequest.DONE){
              if (xhr.status !== 200) {
                alert('서버가 응답하지 않습니다!')
              } else {
                window.location.replace('/admin/dbSetting?auth=<%= auth %>')
              }
            }
          }
        }
        
        function add () {
          const dataName = prompt('데이터파일 이름을 정해주세요') || 'temp' + Math.floor(Math.random() * 1000)
          var xhr = new XMLHttpRequest()
          var target = '/admin/add?auth=<%= auth %>&key=' + dataName
          xhr.open('GET', target)
          xhr.send()

          xhr.onreadystatechange = () => {
            if (xhr.readyState === XMLHttpRequest.DONE){
              if (xhr.status !== 200) {
                alert('서버가 응답하지 않습니다!')
              } else {
                window.location.replace('/admin/dbSetting?auth=<%= auth %>')
              }
            }
          }
        }
      </script>
  </body>
</html>